@font-face {
    font-family: "Geometric"; 
    src: url("fonts/geometric.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
} 

* {
    margin: 0;
}

.bg1 {
    background-color: #3e3e3e;
}

.title {
    color: #FFFFFF;
    font-size: 100px;
    text-align: center;
    font-family: 'Geometric';
}

.subtitle {
    padding-top: 30px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-family: 'Geometric';
}

header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(43, 43, 43);
    border-radius: 45px;
    }

#logo {
    line-height: 50px;
    padding-left: 20px;
    background-clip: text;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Geometric';
}

#logo:hover {
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(#ffea00, #e85505);
}

#nav-links li {
    list-style: none;
}

#nav-links li a {
    text-decoration: none;
    color: white;
    background-clip: text;
    font-size: 25px;
    font-family: 'League Spartan';
}

#nav-links li a:hover {
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(#ffea00, #e85505);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#nav-links {
    display: flex;
    gap: 2rem;
}

@media(max-width: 740px) {
    header {
        width: 60%
    }
}

@media(max-width: 610px) {
    header {
        width: 75%
    }
}

@media(max-width: 480px) {
    header {
        width: 90%
    }
}

@media(max-width: 405px) {
    header {
        width: 97%
    }
}

@media(max-width: 405px) {
    header {
        width: 100%
    }
}

.glow {
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(50deg, #ffea00, #e85505);
}

.logo-near-text {
    height: 25px;
    transform: translateY(8px)
}

.top-div {
    margin-bottom: -75px;
}

.bottom-div {
    margin-top: -75x;
}

.case-group {
    text-align: center;
}

.social, .project, .lang, .toMainPage {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 50px 20px;
    font-family: 'Baloo Da 2';
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: white;
    background: rgb(65, 65, 65);
    box-shadow: 0 8px 15px rgba(4, 4, 4, 0.2);
    transition: .5s;
    white-space: pre;
  }

.social:hover, .project:hover, .toMainPage:hover {
    background: #ff9900;
    box-shadow: 0 15px 20px #e86b05;
    transform: translateY(-7px);
}

.large-case {
    width: 180px;
  }
